<h2>Register </h2>
<form method="post" action="/Account/Register">

    <label for="email" > Email  : </label>
    <input id="email" type="email" name="email" /> 
    <br />
    <br />
    <label for="name">Name  : </label>
    <input id="name" type="text" name="name" />
    <br />
    <br />
    <label for="password">Password : </label>
    <input id="password" type="password" name="password" />


    <input type="submit" value="Submit" />
</form>

<br/>
<br/>
<h2>@Model</h2>