<html>
    <body>
    <div>
        <h3> Add a Student record</h3>
    </div>
    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br>

        <label for="cgpa">CGPA</label><br>
        <input type="text" id="cgpa" name="cgpa"><br>

        <label for="semester">semester:</label><br>
        <input type="text" id="semester" name="semester"><br>
        
    </form>
    </body>
</html>